# Docker
.dockerignore
.env

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/dist
frontend/dist-electron
frontend/.env.local
frontend/.env*.local

# Python bytecode (recursive — catches all subdirectories)
__pycache__/
*.pyc
*.pyo

# Backend
backend/.env
backend/.venv
backend/venv
backend/dist

#Ignore the open-webui directory
open-webui-data/

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
backend/build/privateai-backend/Analysis-00.toc
backend/build/privateai-backend/base_library.zip
backend/build/privateai-backend/EXE-00.toc
backend/build/privateai-backend/PKG-00.toc
backend/build/privateai-backend/privateai-backend.pkg
backend/build/privateai-backend/PYZ-00.pyz
backend/build/privateai-backend/PYZ-00.toc
backend/build/privateai-backend/warn-privateai-backend.txt
backend/build/privateai-backend/xref-privateai-backend.html
backend/build/test-uvicorn/Analysis-00.toc
backend/build/test-uvicorn/base_library.zip
backend/build/test-uvicorn/COLLECT-00.toc
backend/build/test-uvicorn/EXE-00.toc
backend/build/test-uvicorn/PKG-00.toc
backend/build/test-uvicorn/PYZ-00.pyz
backend/build/test-uvicorn/PYZ-00.toc
backend/build/test-uvicorn/test-uvicorn
backend/build/test-uvicorn/test-uvicorn.pkg
backend/build/test-uvicorn/warn-test-uvicorn.txt
backend/build/test-uvicorn/xref-test-uvicorn.html
